.addButton{
    justify-content: center;
    align-content: center;
    margin-left: 100px;
}
.user{
    font-size: 18px;
    color: #ffffff;
    padding-left: 10px;
    margin: 10px;
}
.btn .btn-danger{
    padding-left: 100px;
    margin-left: 100px;
}
.table{
    padding: 10px;
    margin-top: 20px;
}


.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-item .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}